html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
*,*::before,*::after{
    box-sizing: inherit;
}

body{
    font-family: "Raleway", serif;
    font-size: 1.6rem;
    line-height: 1.5;
}/* Esto son partes de codigo utiles*/

/* Globales */
/* Son cosas que se aplicaran a todos el proyecto*/
a{
    text-decoration: none;
    color: #000;
}

h1{
    font-family: "Playfair", serif;
    font-size: 5rem;
    margin: 0 0 5rem 0;
}

h2,h3{
    font-size: 3rem;
}

h2,h3,h4,h5{
    font-family: "Playfair", serif;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}

/* Utilidades */
.text-center{
    text-align: center;
}


/* Header y navegacion*/
.nombre-sitio{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.nombre-sitio span{
    color: #037bc0;
}

.contenedor-nav{
    border-top: .1rem solid #e1e1e1;
}

.nav-principal{
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.Hero{
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

/* Categorias */
.categorias{
    margin-top: 5rem;
}

.List-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.categoria a{
    display: block;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover{
    background-color: #037bc0;
    color: white;
    border-bottom-right-radius: 1rem;
}

.categorias h2{
    text-align: center;
}

/* Sobre Nosotros */
.SobreNosotros{
    background-image: linear-gradient(to right, transparent 50%,#037bc0 50%,#037bc0 100%), url(../img/nosotros.jpg);
    background-position: left center;
    margin: 3rem 0;
    padding: 5rem;
    background-repeat: no-repeat;
    background-size: 100%, 110rem;
}

.sobre-nosotros-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
}

.Texto-Nosotros{
    grid-column: 2/3;
    color: white;
    font-size: 2.5rem;
}

.Texto-Nosotros h2{
    font-size: 5rem;
}

/* Nuestros productos */
.contenido-principal{
    padding-top: 5rem;
}