html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}

body{
    font-family: "Raleway", serif;
}

/* Globales */
a{
    text-decoration: none;
    color: #000;
}

h1{
    font-family: "Playfair", serif;
}

h2,h3,h4,h5{
    font-family: "Playfair", serif;
    font-size: 2.5rem;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}

/* Header y navegacion*/
.nombre-sitio{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 3.5rem;
}

.nombre-sitio span{
    color: #037bc0;
}

.contenedor-nav{
    border-top: 1px solid #e1e1e1;
}

.nav-principal{
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Hero{
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

/* Categorias */
.List-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.categoria a{
    text-align: center;
    display: block;
    padding: 20px;
    font-size: 20px;
}

.categoria a:hover{
    background-color: #037bc0;
    color: white;
    border-bottom-right-radius: 10px;
}

.categorias h2{
    text-align: center;
}